# generated 2022-09-24, Mozilla Guideline v5.6, Apache 2.4.41, OpenSSL 1.1.1k, intermediate configuration
# https://ssl-config.mozilla.org/#server=apache&version=2.4.41&config=intermediate&openssl=1.1.1k&guideline=5.6

# this configuration requires mod_ssl, mod_socache_shmcb, mod_rewrite, and mod_headers
<VirtualHost *:80>
    ServerName {{ item.hostnames | first }}
{% if (item.hostnames|length > 1) %}
    ServerAlias {{ item.hostnames[1:] | join(' ') }}
{% endif %}

    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/\.well\-known/acme\-challenge/
    RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]

    CustomLog /var/log/httpd/{{ item.hostnames[0] | default('default') }}.access.log combined
    ErrorLog /var/log/httpd/{{ item.hostnames[0] | default('default') }}.error.log
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ item.hostnames | first }}
{% if (item.hostnames|length > 1) %}
    ServerAlias {{ item.hostnames[1:] | join(' ') }}
{% endif %}

    SSLEngine on

    SSLCertificateFile      {{ item.ssl_cert | default('/etc/letsencrypt/live/' + (item.hostnames | first) + '/fullchain.pem') }}
{% if (ansible_distribution_major_version|int > 7) %}
    SSLOpenSSLConfCmd DHParameters "/etc/pki/tls/dhparam.pem"
{% endif %}
    SSLCertificateKeyFile   {{ item.ssl_key | default('/etc/letsencrypt/live/' + (item.hostnames | first) + '/privkey.pem') }}
    SSLCertificateChainFile {{ item.ssl_cert | default('/etc/letsencrypt/live/' + (item.hostnames | first) + '/fullchain.pem') }}

{% if (ansible_distribution_major_version|int > 7) %}
    # enable HTTP/2, if available
    Protocols h2 http/1.1

{% endif %}
    # HTTP Strict Transport Security (mod_headers is required) (63072000 seconds)
    Header always set Strict-Transport-Security "max-age=63072000"

    <Proxy "unix:/run/php-fpm/{{ item.php_socket }}.sock|fcgi://{{ item.hostnames | first }}">
       ProxySet timeout=300
    </Proxy>

    <Directory {{ item.www_root }}{{ apache_www_subdirectory }}>
{% if item.options is defined %}
        Options {{ item.options | join(' ') }}
{% endif %}
        AllowOverride {{ item.allow_override | default(apache_allow_override) }}
    </Directory>

    <FilesMatch \.php$>
       SetHandler "proxy:fcgi://{{ item.hostnames | first }}"
    </FilesMatch>

    <LocationMatch "\/\.">
        Require all denied
    </LocationMatch>

    DocumentRoot {{ item.www_root }}{{ apache_www_subdirectory }}

    CustomLog /var/log/httpd/{{ item.hostnames[0] | default('default') }}.access.log combined
    ErrorLog /var/log/httpd/{{ item.hostnames[0] | default('default') }}.error.log
</VirtualHost>
