<VirtualHost *:80>
    ServerName {{ item.hostnames | first }}
{% if (item.hostnames|length > 1) %}
    ServerAlias {{ item.hostnames[1:] | join(' ') }}
{% endif %}

{% if (ansible_distribution_major_version|int > 7) %}
    Protocols http/1.1 http/1.0

{% endif %}
    <Proxy "unix:/run/php-fpm/{{ item.php_socket }}.sock|fcgi://{{ item.hostnames | first }}">
       ProxySet timeout=300
    </Proxy>

    <Directory {{ item.www_root }}{{ apache_www_subdirectory }}>
{% if item.options is defined %}
        Options {{ item.options | join(' ') }}
{% endif %}
        AllowOverride {{ item.allow_override | default(apache_allow_override) }}
    </Directory>

    <FilesMatch \.php$>
       SetHandler "proxy:fcgi://{{ item.hostnames | first }}"
    </FilesMatch>

    <LocationMatch "\/\.">
        Require all denied
    </LocationMatch>

    DocumentRoot {{ item.www_root }}{{ apache_www_subdirectory }}

    CustomLog /var/log/httpd/{{ item.hostnames[0] | default('default') }}.access.log combined
    ErrorLog /var/log/httpd/{{ item.hostnames[0] | default('default') }}.error.log
</VirtualHost>
